* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
      background: url("WhatsApp\ Image\ 2024-03-22\ at\ 21.59.35_328a14ae.jpg");
      background-size: 110%;
  }
  
  section {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 80px;
  }
  
  .section-header {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .section-header h2 {
    color: #231f1f;
    font-weight: bold;
    font-size: 5em;
    margin-bottom: 20px;
    margin-top: -9%;
  }
  
  .section-header p {
    color: #d01f1f;
    font-size: 1.7em;
  }
  
  .row  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-info {
    width: 40%;
  }
  
  .contact-info-item {
    display: flex;
    margin-bottom: 40px;
  }
  
  .contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #FFF;
    text-align: center;
    border-radius: 50%;
  }
  
  .contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
  }
  
  .contact-info-content {
    margin-left: 70px;
  }
  
  .contact-info-content h4 {
    color: #ec2222;
    font-size: 1.8em;
    margin-bottom: 5px;
  }
  
  .contact-info-content p {
    color: #302b2b;
    font-size: 1em;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 70px;
  }
  
  .contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
  .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
  .contact-form .input-box input:focus ~ span,
  .contact-form .input-box textarea:focus ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  
  .contact-form .input-box input[type="submit"]
  {
    width: 100%;
    background: #00bcd4;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #00bcd4;
    transition: 0.5s;
  }
  
  .contact-form .input-box input[type="submit"]:hover
  {
    background: #FFF;
    color: #00bcd4;
  }
  
  @media (max-width: 991px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    .row {
      flex-direction: column;
    }
    
    .contact-info {
      margin-bottom: 40px;
      width: 100%;
    }
    
    .contact-form {
      width: 100%;
    }
  }
  header{
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
  }
  header .logo img{
      width: 220px;s
      height: 220px;
      margin-top: 5px;
      cursor: pointer;
  }
  header nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  header nav ul{
      margin-top: 2px;
  }
  header nav ul li{
      padding: 20px;
      display: inline-block;
  }
  header nav ul li a{
      text-decoration: none;
      text-transform: capitalize;
      color: rgb(222, 25, 70);
      font-size: 1.1rem;
  }
  header nav ul li a:hover{
      color: #333;
  }
  header nav ul li a.active{
      color: #333;
  }
  header .btn{
      padding: 20px;
  }
  header .btn button{
      padding: 15px;
      border: none;
      border-radius: 5px;
      background: #ccdcfc;
      font-size: 1.1%
      color: rgb(222, 25, 70);
      text-transform: capitalize;
      cursor: pointer;
  }